<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error - Sweather</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" type="image/png" href="/images/icon-72x72.png">
</head>
<body>
	<a href="/" class="toplink">&lt;- back to homepage</a>
	<h1>An error occured</h1>
	<p style="font-family: monospace; color: red;">{{ . }}</p>
	<p>
		While Sweather was trying to do something, Sweather encountered an
		error. Most likely, you've done something wrong. If you don't think
		you've done anything wrong and Sweather has failed, feel free to make a
		new issue on Sweather's github page.
	</p>
</body>
</html>
