<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Offline - Sweather</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body {
			margin: 40px auto;
			max-width: 650px;
			line-height: 1.6;
			font-size: 18px;
			font-family: sans-serif;
			background-color: #EEEEEE;
			color: #444;
			padding: 0 10px;
		}

		h1, h2, h3 {
			line-height: 1.2;
		}
	</style>
</head>
<body>
	<h1>You're offline</h1>
	<p>
		Sweather tried to connect, but turns out you're offline! If you want to
		use Sweather, connect to the internet.
	</p>
	<a href="/">Try again</a>
</body>
</html>
